<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
</head>
<body>
<div>
    <table border="1px solid red">
        <tr>
            <td>用户名</td>
            <td><%=username%></td>
            <td><%=age%></td>
        </tr>
    </table>
</div>
</body>
</html>